.bold { font-weight: bold; }
.italic { font-style: italic; }

.app {
  background: white;
  margin: 0;
  padding: 0;
}

.editor {
  height: 100vh;
  padding: 2em;
  top: 0;
  left: 0;
  width: 100%;
}

nav{
  background: #000;
  position: relative;
  z-index: 1;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0;
  padding: .5em;
}

nav a {
  text-decoration: none;
  color: #fff;
}